/* Created by Fei Shan */

/*div {*/
/*  border: 1px solid;*/
/*}*/

/*body div.col-sm-6 {*/
/*    background-color: darkseagreen;*/
/*}*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

body div#full-height {
    display: flex;
    flex-direction: column;
    max-width: 992px;
}

body header {
    margin-bottom: 0.5rem;
}

body div#flex-content {
    flex: 1 1 auto;
}

nav.navbar {
    padding-bottom: 0;
}

div.row {
    margin: 0 0 20px 0;
}

div.row>div {
    padding-left: 0;
}

h6 {
    color: darkgreen;
}

/*div#annotation button#9 {*/
/*    background-color: lightseagreen!important;*/
/*    border: lightseagreen!important;*/
/*}*/

/*div#annotation button#0 {*/
/*    background-color: lightsalmon!important;*/
/*    border: lightsalmon!important;*/
/*}*/

div#instruction {
    padding: 2px 8px 2px 8px;
}

div#instruction p {
    font-family: "Times New Roman", Times, serif;
    color: dimgray;
}

textarea#code {
    white-space: pre-wrap;
}

div#problem-detail {
    height: 100px;
}

div#editor-field form {
    height: 85%;
}

div#annotation button.btn {
    margin: 0 0 5px 0;
    /*border: 0;*/
}

#problem-detail, #code, #output {
    padding: 2px 8px 2px 8px;
    font-family: Arial;
    font-size: medium;
}

footer {
    height: 40px;
    text-align: center;
    color: lightslategray;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
    transform: translateZ(0) !important; /*Force reflow*/
}


